/* header__default.intro__default.content__default.footer__default.area_header_global.area_content_system_product_product__default.vi-vn.localhost */
/*****************************************************/
/******   P A G E    S T Y L E S   *******************/
/*****************************************************/

.tb_area_header .tb_main_color_bg, .tb_area_header .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.tb_area_header a.tb_main_color_bg:hover, .tb_area_header .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

.tb_area_header a:not(:hover) {
  color: #4caa9d;
}

.tb_area_header .tb_text_wrap a:not(.btn):not(:hover) {
  color: #4caa9d;
}

.tb_area_header input:not(:hover):not(:focus), .tb_area_header select:not(:hover):not(:focus), .tb_area_header textarea:not(:hover):not(:focus), .tb_area_header .input-group:not(:hover):not(:focus) {
  background-color: #abdbd4;
}

.tb_area_header input:not(:hover):not(:focus), .tb_area_header select:not(:hover):not(:focus), .tb_area_header textarea:not(:hover):not(:focus), .tb_area_header .input-group:not(:hover):not(:focus) {
  border-top-color: #abdbd4;
  border-left-color: #abdbd4;
}

.tb_area_header input:not(:hover):not(:focus), .tb_area_header select:not(:hover):not(:focus), .tb_area_header textarea:not(:hover):not(:focus), .tb_area_header .input-group:not(:hover):not(:focus) {
  border-bottom-color: #abdbd4;
  border-right-color: #abdbd4;
}

.tb_area_header input:hover:not(:focus), .tb_area_header select:hover:not(:focus), .tb_area_header textarea:hover:not(:focus), .tb_area_header .input-group:hover:not(:focus) {
  color: #ffffff;
}

.tb_area_header input:hover:not(:focus), .tb_area_header select:hover:not(:focus), .tb_area_header textarea:hover:not(:focus), .tb_area_header .input-group:hover:not(:focus) {
  background-color: #90cfc6;
}

.tb_area_header input:hover:not(:focus), .tb_area_header select:hover:not(:focus), .tb_area_header textarea:hover:not(:focus), .tb_area_header .input-group:hover:not(:focus) {
  border-top-color: #90cfc6;
  border-left-color: #90cfc6;
}

.tb_area_header input:hover:not(:focus), .tb_area_header select:hover:not(:focus), .tb_area_header textarea:hover:not(:focus), .tb_area_header .input-group:hover:not(:focus) {
  border-bottom-color: #90cfc6;
  border-right-color: #90cfc6;
}

.tb_area_header input:focus, .tb_area_header select:focus, .tb_area_header textarea:focus, .tb_area_header .input-group:focus {
  color: #ffffff;
}

.tb_area_header input:focus, .tb_area_header select:focus, .tb_area_header textarea:focus, .tb_area_header .input-group:focus {
  background-color: #90cfc6;
}

.tb_area_header input:focus, .tb_area_header select:focus, .tb_area_header textarea:focus, .tb_area_header .input-group:focus {
  border-top-color: #90cfc6;
  border-left-color: #90cfc6;
}

.tb_area_header input:focus, .tb_area_header select:focus, .tb_area_header textarea:focus, .tb_area_header .input-group:focus {
  border-bottom-color: #90cfc6;
  border-right-color: #90cfc6;
}

.row_6JMb0 .tb_main_color_bg, .row_6JMb0 .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.row_6JMb0 a.tb_main_color_bg:hover, .row_6JMb0 .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

.col_nwfbv .tb_main_color_bg, .col_nwfbv .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.col_nwfbv a.tb_main_color_bg:hover, .col_nwfbv .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

#Menu_X9U19E5w nav > ul > li.dropdown:not(:hover) > a, #Menu_X9U19E5w nav > ul > li.dropdown:not(:hover) > * > a, #Menu_X9U19E5w nav > ul > li:not(.dropdown) > a:not(:hover), #Menu_X9U19E5w nav > ul > li:not(.dropdown) > * > a:not(:hover) {
  background-color: transparent;
}

#Menu_X9U19E5w nav > ul > li.dropdown:not(.tb_selected):hover > a, #Menu_X9U19E5w nav > ul > li.dropdown:not(.tb_selected):hover > * > a, #Menu_X9U19E5w nav > ul > li:not(.dropdown):not(.tb_selected) > a:hover, #Menu_X9U19E5w nav > ul > li:not(.dropdown):not(.tb_selected) > * > a:hover {
  background-color: transparent;
}

#Menu_X9U19E5w nav > ul > li.tb_selected > a, #Menu_X9U19E5w nav > ul > li.tb_selected > * > a {
  color: #e55d61;
}

#Menu_X9U19E5w nav > ul > li.tb_selected > a, #Menu_X9U19E5w nav > ul > li.tb_selected > * > a {
  background-color: transparent;
}

#Menu_X9U19E5w nav > ul > li:before {
  color: #dddddd;
}

#Menu_X9U19E5w nav > ul > li, #Menu_X9U19E5w nav > ul > li:before {
  border-color: #dddddd;
}

#Menu_X9U19E5w .tb_megamenu > [class].dropdown-menu .tb_main_color_bg, #Menu_X9U19E5w .tb_megamenu > [class].dropdown-menu .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

#Menu_X9U19E5w .tb_megamenu > [class].dropdown-menu a.tb_main_color_bg:hover, #Menu_X9U19E5w .tb_megamenu > [class].dropdown-menu .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

#Menu_X9U19E5w .tb_megamenu > [class].dropdown-menu a:not(.h1):not(.h2):not(.h3):not(.h4):not(.h5):not(.h6):hover {
  color: #e55d61;
}

#Separator_PlJX603O .tb_title {
  color: #6ec1b6;
}

#Separator_PlJX603O .tb_title {
  background-color: transparent;
}

#Separator_PlJX603O .border {
  border-color: #dddddd;
}

#IconList_JnlPcw22 a.tb_icon:hover {
  color: #ffffff !important;
}

#IconList_JnlPcw22 a.tb_icon:hover {
  background-color: #000000 !important;
}

#IconList_JnlPcw22 .tb_tooltip {
  background-color: #333333 !important;
}

#IconList_JnlPcw22 .tb_tooltip {
  color: #ffffff !important;
}

#IconList_Uj7mFjcS a.tb_icon:hover {
  color: #ffffff !important;
}

#IconList_Uj7mFjcS a.tb_icon:hover {
  background-color: #000000 !important;
}

#IconList_Uj7mFjcS .tb_tooltip {
  background-color: #333333 !important;
}

#IconList_Uj7mFjcS .tb_tooltip {
  color: #ffffff !important;
}

.col_FSn7r .tb_main_color_bg, .col_FSn7r .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.col_FSn7r a.tb_main_color_bg:hover, .col_FSn7r .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

.col_FmIL1 .tb_main_color_bg, .col_FmIL1 .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.col_FmIL1 a.tb_main_color_bg:hover, .col_FmIL1 .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

#HeaderSearchSystem_NBBqu26L .tb_search_wrap:not(:hover):before {
  color: #6ec1b6;
}

#HeaderSearchSystem_NBBqu26L .btn:not(:hover) {
  background-color: #6ec1b6 !important;
}

#HeaderSearchSystem_NBBqu26L .btn:not(:hover) {
  color: #e55d61 !important;
}

#HeaderSearchSystem_NBBqu26L .btn:hover {
  background-color: #000000 !important;
}

#HeaderSearchSystem_NBBqu26L .btn:hover {
  color: #ffffff !important;
}

.row_jjj6j .tb_main_color, .row_jjj6j .tb_hover_main_color:hover, .row_jjj6j .colorbox, .row_jjj6j .agree, .row_jjj6j .tb_list_1 > li:before, .row_jjj6j .tb_list_1 > li > a:before {
  color: #ffffff !important;
}

.row_jjj6j a.tb_main_color:hover, .row_jjj6j a.colorbox:hover, .row_jjj6j a.agree:hover, .row_jjj6j .tb_main_color_hover:hover {
  color: #cccccc !important;
}

.row_jjj6j .tb_main_color_bg, .row_jjj6j .tb_hover_main_color_bg:hover {
  background-color: #ffffff !important;
}

.row_jjj6j a.tb_main_color_bg:hover, .row_jjj6j .tb_main_color_bg_hover:hover {
  background-color: #cccccc !important;
}

.row_jjj6j {
  color: #cccccc;
}

.row_jjj6j a:not(:hover) {
  color: #ffffff;
}

.row_jjj6j a:hover {
  color: #dddddd;
}

.row_jjj6j .tb_text_wrap a:not(.btn):not(:hover) {
  color: #ffffff;
}

.row_jjj6j .tb_text_wrap a:not(.btn):hover {
  color: #dddddd;
}

.row_jjj6j h1, .row_jjj6j h2, .row_jjj6j h3, .row_jjj6j h4, .row_jjj6j h5, .row_jjj6j h6, .row_jjj6j .h1, .row_jjj6j .h2, .row_jjj6j .h3, .row_jjj6j .h4, .row_jjj6j .h5, .row_jjj6j .h6, .row_jjj6j legend, .row_jjj6j .panel-heading, .row_jjj6j .box-heading {
  color: #ffffff;
}

.row_jjj6j > .tb_separate_columns > [class*="col-"], .row_jjj6j hr {
  border-color: transparent;
}

.row_jjj6j .tb_bg_str_1, .row_jjj6j .tb_bg_hover_str_1:hover { background-color: rgba(255,255,255, 0.05);}
.row_jjj6j .tb_bg_str_2, .row_jjj6j .tb_bg_hover_str_2:hover { background-color: rgba(255,255,255, 0.1); }
.row_jjj6j .tb_bg_str_3, .row_jjj6j .tb_bg_hover_str_3:hover { background-color: rgba(255,255,255, 0.15); }
.row_jjj6j .tb_bg_str_4, .row_jjj6j .tb_bg_hover_str_4:hover { background-color: rgba(255,255,255, 0.2); }
.row_jjj6j .tb_bg_str_5, .row_jjj6j .tb_bg_hover_str_5:hover { background-color: rgba(255,255,255, 0.3); }
.row_jjj6j .tb_text_str_1, .row_jjj6j .tb_text_hover_str_1:hover { color: rgba(255,255,255, 0.2) !important; }
.row_jjj6j .tb_text_str_2, .row_jjj6j .tb_text_hover_str_2:hover { color: rgba(255,255,255, 0.3) !important; }
.row_jjj6j .tb_text_str_3, .row_jjj6j .tb_text_hover_str_3:hover { color: rgba(255,255,255, 0.4) !important; }
.row_jjj6j .tb_text_str_4, .row_jjj6j .tb_text_hover_str_4:hover { color: rgba(255,255,255, 0.6) !important; }
.row_jjj6j .tb_text_str_5, .row_jjj6j .tb_text_hover_str_5:hover { color: rgba(255,255,255, 0.8) !important; }
.row_jjj6j .border, .row_jjj6j .border-color { border-color: rgba(255,255,255, 0.15); }
.col_eTdWN .tb_main_color_bg, .col_eTdWN .tb_hover_main_color_bg:hover {
  background-color: #ffffff !important;
}

.col_eTdWN a.tb_main_color_bg:hover, .col_eTdWN .tb_main_color_bg_hover:hover {
  background-color: #cccccc !important;
}

#Menu_EgSn9p0u nav > ul > li.dropdown:not(:hover) > a, #Menu_EgSn9p0u nav > ul > li.dropdown:not(:hover) > * > a, #Menu_EgSn9p0u nav > ul > li:not(.dropdown) > a:not(:hover), #Menu_EgSn9p0u nav > ul > li:not(.dropdown) > * > a:not(:hover) {
  background-color: transparent;
}

#Menu_EgSn9p0u nav > ul > li.dropdown:not(.tb_selected):hover > a, #Menu_EgSn9p0u nav > ul > li.dropdown:not(.tb_selected):hover > * > a, #Menu_EgSn9p0u nav > ul > li:not(.dropdown):not(.tb_selected) > a:hover, #Menu_EgSn9p0u nav > ul > li:not(.dropdown):not(.tb_selected) > * > a:hover {
  background-color: transparent;
}

#Menu_EgSn9p0u nav > ul > li.tb_selected > a, #Menu_EgSn9p0u nav > ul > li.tb_selected > * > a {
  color: #dddddd;
}

#Menu_EgSn9p0u nav > ul > li.tb_selected > a, #Menu_EgSn9p0u nav > ul > li.tb_selected > * > a {
  background-color: transparent;
}

#Menu_EgSn9p0u nav > ul > li:before {
  color: #dddddd;
}

#Menu_EgSn9p0u nav > ul > li, #Menu_EgSn9p0u nav > ul > li:before {
  border-color: #dddddd;
}

#Menu_EgSn9p0u .tb_megamenu > [class].dropdown-menu .tb_main_color_bg, #Menu_EgSn9p0u .tb_megamenu > [class].dropdown-menu .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

#Menu_EgSn9p0u .tb_megamenu > [class].dropdown-menu a.tb_main_color_bg:hover, #Menu_EgSn9p0u .tb_megamenu > [class].dropdown-menu .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

#Menu_EgSn9p0u .tb_megamenu > [class].dropdown-menu a:not(.h1):not(.h2):not(.h3):not(.h4):not(.h5):not(.h6):hover {
  color: #e55d61;
}

.col_KjQ7F .tb_main_color_bg, .col_KjQ7F .tb_hover_main_color_bg:hover {
  background-color: #ffffff !important;
}

.col_KjQ7F a.tb_main_color_bg:hover, .col_KjQ7F .tb_main_color_bg_hover:hover {
  background-color: #cccccc !important;
}

#Menu_Vo9b7kFs nav > ul > li.dropdown:not(:hover) > a, #Menu_Vo9b7kFs nav > ul > li.dropdown:not(:hover) > * > a, #Menu_Vo9b7kFs nav > ul > li:not(.dropdown) > a:not(:hover), #Menu_Vo9b7kFs nav > ul > li:not(.dropdown) > * > a:not(:hover) {
  background-color: transparent;
}

#Menu_Vo9b7kFs nav > ul > li.dropdown:not(.tb_selected):hover > a, #Menu_Vo9b7kFs nav > ul > li.dropdown:not(.tb_selected):hover > * > a, #Menu_Vo9b7kFs nav > ul > li:not(.dropdown):not(.tb_selected) > a:hover, #Menu_Vo9b7kFs nav > ul > li:not(.dropdown):not(.tb_selected) > * > a:hover {
  background-color: transparent;
}

#Menu_Vo9b7kFs nav > ul > li.tb_selected > a, #Menu_Vo9b7kFs nav > ul > li.tb_selected > * > a {
  color: #dddddd;
}

#Menu_Vo9b7kFs nav > ul > li.tb_selected > a, #Menu_Vo9b7kFs nav > ul > li.tb_selected > * > a {
  background-color: transparent;
}

#Menu_Vo9b7kFs nav > ul > li:before {
  color: #dddddd;
}

#Menu_Vo9b7kFs nav > ul > li, #Menu_Vo9b7kFs nav > ul > li:before {
  border-color: #dddddd;
}

#Menu_Vo9b7kFs .tb_megamenu > [class].dropdown-menu .tb_main_color_bg, #Menu_Vo9b7kFs .tb_megamenu > [class].dropdown-menu .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

#Menu_Vo9b7kFs .tb_megamenu > [class].dropdown-menu a.tb_main_color_bg:hover, #Menu_Vo9b7kFs .tb_megamenu > [class].dropdown-menu .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

#Menu_Vo9b7kFs .tb_megamenu > [class].dropdown-menu a:not(.h1):not(.h2):not(.h3):not(.h4):not(.h5):not(.h6):hover {
  color: #e55d61;
}

.col_N1TWn .tb_main_color_bg, .col_N1TWn .tb_hover_main_color_bg:hover {
  background-color: #ffffff !important;
}

.col_N1TWn a.tb_main_color_bg:hover, .col_N1TWn .tb_main_color_bg_hover:hover {
  background-color: #cccccc !important;
}

#HeaderCartMenuSystem_HJ4nU3fO #cart > .nav > li:not(:hover) > .heading > a > .tb_icon {
  color: #ffffff;
}

#HeaderCartMenuSystem_HJ4nU3fO #cart > .nav > li:not(:hover) > .heading > a > .tb_label, #HeaderCartMenuSystem_HJ4nU3fO #cart > .nav > li:not(:hover) > .heading > a > .tb_items {
  color: #ffffff;
}

#HeaderCartMenuSystem_HJ4nU3fO #cart > .nav > li:not(:hover) > .heading > a > .tb_total {
  color: #ffffff;
}

#HeaderCartMenuSystem_HJ4nU3fO #cart > .nav > li:not(:hover) {
  background-color: transparent;
}

#HeaderCartMenuSystem_HJ4nU3fO #cart > .nav > li:hover > .heading > a > .tb_icon {
  color: #cccccc;
}

#HeaderCartMenuSystem_HJ4nU3fO #cart > .nav > li:hover > .heading > a > .tb_label, #HeaderCartMenuSystem_HJ4nU3fO #cart > .nav > li:hover > .heading > a > .tb_items {
  color: #dddddd;
}

#HeaderCartMenuSystem_HJ4nU3fO #cart > .nav > li:hover > .heading > a > .tb_total {
  color: #cccccc;
}

#HeaderCartMenuSystem_HJ4nU3fO #cart > .nav > li:hover > .heading > a {
  background-color: transparent;
}

#HeaderCartMenuSystem_HJ4nU3fO .dropdown-menu .buttons:before, #HeaderCartMenuSystem_HJ4nU3fO .dropdown-menu .mini-cart-total:before {
  color: #333333;
}

.tb_area_intro .tb_main_color_bg, .tb_area_intro .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.tb_area_intro a.tb_main_color_bg:hover, .tb_area_intro .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

.row_zecuq .tb_main_color_bg, .row_zecuq .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.row_zecuq a.tb_main_color_bg:hover, .row_zecuq .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

.col_XsgJF .tb_main_color_bg, .col_XsgJF .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.col_XsgJF a.tb_main_color_bg:hover, .col_XsgJF .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

#BreadcrumbsSystem_K1H46hb0 {
  color: #dddddd;
}

#BreadcrumbsSystem_K1H46hb0 a:not(:hover) {
  color: #6ec1b6;
}

#BreadcrumbsSystem_K1H46hb0 a:hover {
  color: #333333;
}

#Separator_ORLO88aN .tb_title {
  color: #6ec1b6;
}

#Separator_ORLO88aN .tb_title {
  background-color: transparent;
}

#Separator_ORLO88aN .border {
  border-color: #dddddd;
}

#PageTitleSystem_YxxaykfF h1 {
  color: #e55d61;
}

.tb_area_content .tb_main_color_bg, .tb_area_content .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.tb_area_content a.tb_main_color_bg:hover, .tb_area_content .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

.row_CyDvF .tb_main_color_bg, .row_CyDvF .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.row_CyDvF a.tb_main_color_bg:hover, .row_CyDvF .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

.col_SBw2x .tb_main_color_bg, .col_SBw2x .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.col_SBw2x a.tb_main_color_bg:hover, .col_SBw2x .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

.col_Tn3uj .tb_main_color_bg, .col_Tn3uj .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.col_Tn3uj a.tb_main_color_bg:hover, .col_Tn3uj .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

#ProductPriceSystem_IQBR326K .price {
  color: #6ec1b6;
}

#ProductPriceSystem_IQBR326K .price-new {
  color: #e55d61;
}

#ProductPriceSystem_IQBR326K .price-old {
  color: #999999;
}

#ProductPriceSystem_IQBR326K .tb_label {
  color: #999999;
}

#ProductPriceSystem_IQBR326K .price-tax {
  color: #999999;
}

#ProductPriceSystem_IQBR326K .reward {
  color: #999999;
}

#ProductPriceSystem_IQBR326K .price-savings {
  color: #ffffff;
}

#ProductPriceSystem_IQBR326K .price-savings {
  background-color: #e55d61;
}

#ProductOptionsSystem_W9CK8DYj .tb_main_color_bg {
  color: #ffffff;
}

#ProductOptionsSystem_W9CK8DYj .tb_main_color_bg {
  background-color: #e55d61 !important;
}

#ProductOptionsSystem_W9CK8DYj input:not(:hover):not(:focus), #ProductOptionsSystem_W9CK8DYj select:not(:hover):not(:focus), #ProductOptionsSystem_W9CK8DYj textarea:not(:hover):not(:focus), #ProductOptionsSystem_W9CK8DYj .input-group:not(:hover):not(:focus) {
  background-color: #ffffff;
}

#ProductOptionsSystem_W9CK8DYj input:hover:not(:focus), #ProductOptionsSystem_W9CK8DYj select:hover:not(:focus), #ProductOptionsSystem_W9CK8DYj textarea:hover:not(:focus), #ProductOptionsSystem_W9CK8DYj .input-group:hover:not(:focus) {
  background-color: #ffffff;
}

#ProductOptionsSystem_W9CK8DYj input:focus, #ProductOptionsSystem_W9CK8DYj select:focus, #ProductOptionsSystem_W9CK8DYj textarea:focus, #ProductOptionsSystem_W9CK8DYj .input-group:focus {
  background-color: #ffffff;
}

#ProductAddToCartSystem_EM6SJ0nV a:not(:hover) {
  color: #333333;
}

#ProductAddToCartSystem_EM6SJ0nV a:hover {
  color: #e55d61;
}

#Separator_UXfnNiF9 .tb_title {
  color: #6ec1b6;
}

#Separator_UXfnNiF9 .tb_title {
  background-color: transparent;
}

#Separator_UXfnNiF9 .border {
  border-color: #dddddd;
}

#ProductDescriptionSystem_Bx7ALQdc .tb_main_color_bg, #ProductDescriptionSystem_Bx7ALQdc .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

#ProductDescriptionSystem_Bx7ALQdc a.tb_main_color_bg:hover, #ProductDescriptionSystem_Bx7ALQdc .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

#ProductTagsSystem_JY1H3g1R a:not(:hover) {
  background-color: #dddddd;
}

#ProductTagsSystem_JY1H3g1R a:not(:hover):before {
  border-color: #dddddd;
}

#ProductTagsSystem_JY1H3g1R a:hover {
  color: #ffffff;
}

#ProductTagsSystem_JY1H3g1R a:hover {
  background-color: #000000;
}

#ProductTagsSystem_JY1H3g1R a:hover:before {
  border-color: #000000;
}

#ProductReviewsSystem_PEkAX5BA .pagination {
  border-color: #dddddd;
}

#ProductReviewsSystem_PEkAX5BA .pagination {
  background-color: transparent;
}

.row_kuWKy .tb_main_color_bg, .row_kuWKy .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.row_kuWKy a.tb_main_color_bg:hover, .row_kuWKy .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

.col_M9t94 .tb_main_color_bg, .col_M9t94 .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.col_M9t94 a.tb_main_color_bg:hover, .col_M9t94 .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

.row_YsA98 .tb_main_color_bg, .row_YsA98 .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.row_YsA98 a.tb_main_color_bg:hover, .row_YsA98 .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

.col_blBnO .tb_main_color_bg, .col_blBnO .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.col_blBnO a.tb_main_color_bg:hover, .col_blBnO .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

.tb_area_footer .tb_main_color_bg, .tb_area_footer .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.tb_area_footer a.tb_main_color_bg:hover, .tb_area_footer .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

.tb_area_footer h1, .tb_area_footer h2, .tb_area_footer h3, .tb_area_footer h4, .tb_area_footer h5, .tb_area_footer h6, .tb_area_footer .h1, .tb_area_footer .h2, .tb_area_footer .h3, .tb_area_footer .h4, .tb_area_footer .h5, .tb_area_footer .h6, .tb_area_footer legend, .tb_area_footer .panel-heading, .tb_area_footer .box-heading {
  color: #e55d61;
}

.row_TdcVT .tb_main_color_bg, .row_TdcVT .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.row_TdcVT a.tb_main_color_bg:hover, .row_TdcVT .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

.col_G2G4R .tb_main_color_bg, .col_G2G4R .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.col_G2G4R a.tb_main_color_bg:hover, .col_G2G4R .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

#Menu_R8oW6QES nav > ul > li.dropdown:not(:hover) > a, #Menu_R8oW6QES nav > ul > li.dropdown:not(:hover) > * > a, #Menu_R8oW6QES nav > ul > li:not(.dropdown) > a:not(:hover), #Menu_R8oW6QES nav > ul > li:not(.dropdown) > * > a:not(:hover) {
  background-color: transparent;
}

#Menu_R8oW6QES nav > ul > li.dropdown:not(.tb_selected):hover > a, #Menu_R8oW6QES nav > ul > li.dropdown:not(.tb_selected):hover > * > a, #Menu_R8oW6QES nav > ul > li:not(.dropdown):not(.tb_selected) > a:hover, #Menu_R8oW6QES nav > ul > li:not(.dropdown):not(.tb_selected) > * > a:hover {
  background-color: transparent;
}

#Menu_R8oW6QES nav > ul > li.tb_selected > a, #Menu_R8oW6QES nav > ul > li.tb_selected > * > a {
  color: #e55d61;
}

#Menu_R8oW6QES nav > ul > li.tb_selected > a, #Menu_R8oW6QES nav > ul > li.tb_selected > * > a {
  background-color: transparent;
}

#Menu_R8oW6QES nav > ul > li:before {
  color: #dddddd;
}

#Menu_R8oW6QES nav > ul > li, #Menu_R8oW6QES nav > ul > li:before {
  border-color: #dddddd;
}

#Menu_R8oW6QES .tb_megamenu > [class].dropdown-menu .tb_main_color_bg, #Menu_R8oW6QES .tb_megamenu > [class].dropdown-menu .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

#Menu_R8oW6QES .tb_megamenu > [class].dropdown-menu a.tb_main_color_bg:hover, #Menu_R8oW6QES .tb_megamenu > [class].dropdown-menu .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

#Menu_R8oW6QES .tb_megamenu > [class].dropdown-menu a:not(.h1):not(.h2):not(.h3):not(.h4):not(.h5):not(.h6):hover {
  color: #e55d61;
}

.col_Vwj3K .tb_main_color_bg, .col_Vwj3K .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.col_Vwj3K a.tb_main_color_bg:hover, .col_Vwj3K .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

#Menu_R4oG9EvP nav > ul > li.dropdown:not(:hover) > a, #Menu_R4oG9EvP nav > ul > li.dropdown:not(:hover) > * > a, #Menu_R4oG9EvP nav > ul > li:not(.dropdown) > a:not(:hover), #Menu_R4oG9EvP nav > ul > li:not(.dropdown) > * > a:not(:hover) {
  background-color: transparent;
}

#Menu_R4oG9EvP nav > ul > li.dropdown:not(.tb_selected):hover > a, #Menu_R4oG9EvP nav > ul > li.dropdown:not(.tb_selected):hover > * > a, #Menu_R4oG9EvP nav > ul > li:not(.dropdown):not(.tb_selected) > a:hover, #Menu_R4oG9EvP nav > ul > li:not(.dropdown):not(.tb_selected) > * > a:hover {
  background-color: transparent;
}

#Menu_R4oG9EvP nav > ul > li.tb_selected > a, #Menu_R4oG9EvP nav > ul > li.tb_selected > * > a {
  color: #e55d61;
}

#Menu_R4oG9EvP nav > ul > li.tb_selected > a, #Menu_R4oG9EvP nav > ul > li.tb_selected > * > a {
  background-color: transparent;
}

#Menu_R4oG9EvP nav > ul > li:before {
  color: #dddddd;
}

#Menu_R4oG9EvP nav > ul > li, #Menu_R4oG9EvP nav > ul > li:before {
  border-color: #dddddd;
}

#Menu_R4oG9EvP .tb_megamenu > [class].dropdown-menu .tb_main_color_bg, #Menu_R4oG9EvP .tb_megamenu > [class].dropdown-menu .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

#Menu_R4oG9EvP .tb_megamenu > [class].dropdown-menu a.tb_main_color_bg:hover, #Menu_R4oG9EvP .tb_megamenu > [class].dropdown-menu .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

#Menu_R4oG9EvP .tb_megamenu > [class].dropdown-menu a:not(.h1):not(.h2):not(.h3):not(.h4):not(.h5):not(.h6):hover {
  color: #e55d61;
}

.col_I6OkD .tb_main_color_bg, .col_I6OkD .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.col_I6OkD a.tb_main_color_bg:hover, .col_I6OkD .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

#Menu_IWKm59nt nav > ul > li.dropdown:not(:hover) > a, #Menu_IWKm59nt nav > ul > li.dropdown:not(:hover) > * > a, #Menu_IWKm59nt nav > ul > li:not(.dropdown) > a:not(:hover), #Menu_IWKm59nt nav > ul > li:not(.dropdown) > * > a:not(:hover) {
  background-color: transparent;
}

#Menu_IWKm59nt nav > ul > li.dropdown:not(.tb_selected):hover > a, #Menu_IWKm59nt nav > ul > li.dropdown:not(.tb_selected):hover > * > a, #Menu_IWKm59nt nav > ul > li:not(.dropdown):not(.tb_selected) > a:hover, #Menu_IWKm59nt nav > ul > li:not(.dropdown):not(.tb_selected) > * > a:hover {
  background-color: transparent;
}

#Menu_IWKm59nt nav > ul > li.tb_selected > a, #Menu_IWKm59nt nav > ul > li.tb_selected > * > a {
  color: #e55d61;
}

#Menu_IWKm59nt nav > ul > li.tb_selected > a, #Menu_IWKm59nt nav > ul > li.tb_selected > * > a {
  background-color: transparent;
}

#Menu_IWKm59nt nav > ul > li:before {
  color: #dddddd;
}

#Menu_IWKm59nt nav > ul > li, #Menu_IWKm59nt nav > ul > li:before {
  border-color: #dddddd;
}

#Menu_IWKm59nt .tb_megamenu > [class].dropdown-menu .tb_main_color_bg, #Menu_IWKm59nt .tb_megamenu > [class].dropdown-menu .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

#Menu_IWKm59nt .tb_megamenu > [class].dropdown-menu a.tb_main_color_bg:hover, #Menu_IWKm59nt .tb_megamenu > [class].dropdown-menu .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

#Menu_IWKm59nt .tb_megamenu > [class].dropdown-menu a:not(.h1):not(.h2):not(.h3):not(.h4):not(.h5):not(.h6):hover {
  color: #e55d61;
}

.col_LWMSN .tb_main_color_bg, .col_LWMSN .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.col_LWMSN a.tb_main_color_bg:hover, .col_LWMSN .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

#Menu_TADtYIT5 nav > ul > li.dropdown:not(:hover) > a, #Menu_TADtYIT5 nav > ul > li.dropdown:not(:hover) > * > a, #Menu_TADtYIT5 nav > ul > li:not(.dropdown) > a:not(:hover), #Menu_TADtYIT5 nav > ul > li:not(.dropdown) > * > a:not(:hover) {
  background-color: transparent;
}

#Menu_TADtYIT5 nav > ul > li.dropdown:not(.tb_selected):hover > a, #Menu_TADtYIT5 nav > ul > li.dropdown:not(.tb_selected):hover > * > a, #Menu_TADtYIT5 nav > ul > li:not(.dropdown):not(.tb_selected) > a:hover, #Menu_TADtYIT5 nav > ul > li:not(.dropdown):not(.tb_selected) > * > a:hover {
  background-color: transparent;
}

#Menu_TADtYIT5 nav > ul > li.tb_selected > a, #Menu_TADtYIT5 nav > ul > li.tb_selected > * > a {
  color: #e55d61;
}

#Menu_TADtYIT5 nav > ul > li.tb_selected > a, #Menu_TADtYIT5 nav > ul > li.tb_selected > * > a {
  background-color: transparent;
}

#Menu_TADtYIT5 nav > ul > li:before {
  color: #dddddd;
}

#Menu_TADtYIT5 nav > ul > li, #Menu_TADtYIT5 nav > ul > li:before {
  border-color: #dddddd;
}

#Menu_TADtYIT5 .tb_megamenu > [class].dropdown-menu .tb_main_color_bg, #Menu_TADtYIT5 .tb_megamenu > [class].dropdown-menu .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

#Menu_TADtYIT5 .tb_megamenu > [class].dropdown-menu a.tb_main_color_bg:hover, #Menu_TADtYIT5 .tb_megamenu > [class].dropdown-menu .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

#Menu_TADtYIT5 .tb_megamenu > [class].dropdown-menu a:not(.h1):not(.h2):not(.h3):not(.h4):not(.h5):not(.h6):hover {
  color: #e55d61;
}

.col_CqIfm .tb_main_color_bg, .col_CqIfm .tb_hover_main_color_bg:hover {
  background-color: #6ec1b6 !important;
}

.col_CqIfm a.tb_main_color_bg:hover, .col_CqIfm .tb_main_color_bg_hover:hover {
  background-color: #000000 !important;
}

#IconList_CQ2jN8Nr a.tb_icon:hover {
  color: #ffffff !important;
}

#IconList_CQ2jN8Nr a.tb_icon:hover {
  background-color: #000000 !important;
}

#IconList_CQ2jN8Nr .tb_tooltip {
  background-color: #333333 !important;
}

#IconList_CQ2jN8Nr .tb_tooltip {
  color: #ffffff !important;
}

body {
  font-family: 'Open Sans';
  font-size: 13px;
  line-height: 20px;
}
h1, .h1 {
  font-family: 'Cabin Sketch';
  font-weight: 700;
  font-size: 43px;
  line-height: 50px;
}
                    h2,
                    .h2,
                    legend,
                    .box-heading,
                    .panel-heading,
                    .checkout-heading,
                    .modal-title,
                    .nav-tabs > li,
                    .picker-switch,
                    .ui-accordion-header,
                    .ui-datepicker-title,
                    .ui-dialog-title,
                    .tb_slider_controls
                 {
  font-family: 'Cabin Sketch';
  font-weight: normal;
  font-size: 28px;
  line-height: 30px;
}
h3, .h3 {
  font-family: 'Titillium Web';
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
}
                    h4, .h4,
                    .product-thumb .name,
                    .box-product .name,
                    .product-grid .name,
                    .product-list .name
                 {
  font-family: 'Titillium Web';
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}
                    .btn,
                    .button,
                    button,
                    input[type="button"],
                    input[type="submit"],
                    input[type="reset"]
                 {
  font-family: 'Cabin Sketch';
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
}
                    .tbMainNavigation nav > .nav > li > a:not(.btn),
                    .tbMainNavigation .nav > li > .heading > a
                 {
  font-family: 'Cabin Sketch';
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
}
                    .product-thumb .price,
                    .product-info .price
                 {
  font-family: 'Cabin Sketch';
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
}
                    .product-thumb .btn
                 {
  text-transform: none;
}
#Menu_X9U19E5w nav > .nav > li > a, #Menu_X9U19E5w nav > .nav > li > span {
  line-height: 20px;
}
#Menu_X9U19E5w nav > .nav > li > ul > li > a, #Menu_X9U19E5w nav > .nav > li > ul > li > span, #Menu_X9U19E5w nav > .nav > li > .dropdown-menu > .tb_tabs > .nav > li > a {
  line-height: 20px;
}
#Menu_X9U19E5w nav > .nav > li > ul > li > ul > li > a, #Menu_X9U19E5w nav > .nav > li > ul > li > ul > li > span {
  line-height: 20px;
}
#IconList_Uj7mFjcS {
  font-family: 'Cabin Sketch';
  font-size: 26px;
  line-height: 30px;
}
#Menu_EgSn9p0u nav > .nav > li > a, #Menu_EgSn9p0u nav > .nav > li > span {
  line-height: 20px;
}
#Menu_Vo9b7kFs nav > .nav > li > a, #Menu_Vo9b7kFs nav > .nav > li > span {
  font-family: 'Titillium Web';
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-transform: none;
}
#Menu_Vo9b7kFs nav > .nav > li > ul > li > a, #Menu_Vo9b7kFs nav > .nav > li > ul > li > span, #Menu_Vo9b7kFs nav > .nav > li > .dropdown-menu > .tb_tabs > .nav > li > a {
  line-height: 20px;
}
#Menu_Vo9b7kFs nav > .nav > li > ul > li > ul > li > a, #Menu_Vo9b7kFs nav > .nav > li > ul > li > ul > li > span {
  line-height: 20px;
}
.tb_area_intro h1, .tb_area_intro .h1 {
  text-transform: uppercase;
}
#ProductPriceSystem_IQBR326K .price-new, #ProductPriceSystem_IQBR326K .price-regular {
  font-size: 32px;
  line-height: 40px;
}
#ProductShareSystem_D4JhDJm6 .panel-heading, #ProductShareSystem_D4JhDJm6 .box-heading, #ProductShareSystem_D4JhDJm6 .tb_slider_controls > a {
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
}
#ProductTagsSystem_JY1H3g1R .panel-heading, #ProductTagsSystem_JY1H3g1R .box-heading, #ProductTagsSystem_JY1H3g1R .tb_slider_controls > a {
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
}
.tb_area_footer h2, .tb_area_footer .h2, .tb_area_footer legend, .tb_area_footer .box-heading, .tb_area_footer .panel-heading, .tb_area_footer .checkout-heading, .tb_area_footer .modal-title, .tb_area_footer .nav-tabs > li, .tb_area_footer .picker-switch, .tb_area_footer .ui-accordion-header, .tb_area_footer .ui-datepicker-title, .tb_area_footer .ui-dialog-title, .tb_area_footer .tb_slider_controls {
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
}
#bottom {
    background: #b9d551;
}
#Menu_X9U19E5w > nav > .nav {  margin-left: -10px;  margin-right: -10px;  padding-right: 10px;}#Menu_X9U19E5w > nav > .nav > li {  margin-left: 10px;}#Menu_X9U19E5w > nav > .nav > li > a,#Menu_X9U19E5w > nav > .nav > li.divider,#Menu_X9U19E5w > nav > .nav > li.dropdown-header {  line-height: 20px;}#Menu_X9U19E5w > nav > .nav > li.dropdown > a > .tb_accent_label {  margin-top: -12px;}#Menu_X9U19E5w > nav > .nav > li > .dropdown-menu {  min-width: 250px;}@media (max-width: 768px) {}
#IconList_JnlPcw22 .tb_icon_list.tb_inline_view {  margin-top: -0px;}#IconList_JnlPcw22 .tb_icon_list.tb_inline_view li {  margin-top: 0px;}
#IconList_Uj7mFjcS .tb_icon_list.tb_inline_view {  margin-top: -0px;}#IconList_Uj7mFjcS .tb_icon_list.tb_inline_view li {  margin-top: 0px;}

            @media (max-width: 301.5306122449px) {
              #wrapper #header .tbLogoCol {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -moz-box-orient: vertical;
                -moz-box-direction: normal;
                -ms-flex-direction: column;
                -webkit-flex-direction: column;
                flex-direction: column;
              }
              #wrapper #header .tbLogoCol > * {
                -webkit-box-flex: 0;
                -moz-box-flex: 0;
                -ms-flex: 0 1 auto;
                -webkit-flex: 0 1 auto;
                flex: 0 1 auto;
              }
              #wrapper #header .tbLogoCol > * + * {
                margin-top: 15px;
              }
            }
        
#HeaderSearchSystem_NBBqu26L:not(.tb_style_4) .tb_search_wrap {  width: 240px;  max-width: 100%;  min-width: 120px;}#HeaderSearchSystem_NBBqu26L.tb_style_4:hover .tb_search_wrap > input,#HeaderSearchSystem_NBBqu26L.tb_style_4:hover .tb_search_wrap > .twitter-typeahead,#HeaderSearchSystem_NBBqu26L.tb_style_4 .tb_search_wrap > .twitter-typeahead.dropdown-open {  width: 240px !important;}#HeaderSearchSystem_NBBqu26L .tb_search_button {  font-size: 100%;}
#Menu_EgSn9p0u > nav > .nav {  margin-left: -20px;  margin-right: -20px;  padding-right: 20px;}#Menu_EgSn9p0u > nav > .nav > li {  margin-left: 20px;}#Menu_EgSn9p0u > nav > .nav > li > a,#Menu_EgSn9p0u > nav > .nav > li.divider,#Menu_EgSn9p0u > nav > .nav > li.dropdown-header {  line-height: 40px;}#Menu_EgSn9p0u > nav > .nav > li.dropdown > a > .tb_accent_label {  margin-top: -2px;}#Menu_EgSn9p0u > nav > .nav > li > .dropdown-menu {  min-width: 250px;}@media (max-width: 768px) {  #Menu_EgSn9p0u > nav > .nav > li > a {    line-height: 20px;  }}
#Menu_Vo9b7kFs > nav > .nav {  margin-left: -20px;  margin-right: -20px;  padding-right: 20px;}#Menu_Vo9b7kFs > nav > .nav > li {  margin-left: 20px;}#Menu_Vo9b7kFs > nav > .nav > li > a,#Menu_Vo9b7kFs > nav > .nav > li.divider,#Menu_Vo9b7kFs > nav > .nav > li.dropdown-header {  line-height: 40px;}#Menu_Vo9b7kFs > nav > .nav > li.dropdown > a > .tb_accent_label {  margin-top: -2px;}#Menu_Vo9b7kFs > nav > .nav > li > .dropdown-menu {  min-width: 250px;}@media (max-width: 768px) {  #Menu_Vo9b7kFs > nav > .nav > li > a {    line-height: 20px;  }}
#cart > .nav > li > h3,#cart > .nav > li > h3 > a {  line-height: 40px;}#cart > .nav > li > h3 > a {}#cart > .nav > li > h3 > a > .tb_icon {  font-size: 75%;}
#product_images .mightySlider .frame {  height: 220px;}#product_images .tb_slides:not(:last-child) {  width: calc(83.333333333333% + -3.3333333333333px);}#product_images .tb_thumbs_wrap {  width: calc(16.666666666667% - 16.666666666667px);}
#Menu_R8oW6QES > nav > .nav > li.divider {  margin-bottom:  5px !important;  padding-bottom: 5px !important;}#Menu_R8oW6QES > nav > .nav > li > a,#Menu_R8oW6QES > nav > .nav > li.dropdown-header {  padding-top: 0px !important;  padding-bottom: 0px !important;}#Menu_R8oW6QES > nav > .nav > .dropdown:after,#Menu_R8oW6QES > nav > .nav > .dropdown > .hidden + ul > li:after {  margin-top: 5px;}#Menu_R8oW6QES > nav > .nav > li:not(:last-child) > ul:not(.dropdown-menu) {  padding-bottom: 0px;}#Menu_R8oW6QES > nav > .nav > li > .dropdown-menu {  min-width: 250px;}@media (max-width: 768px) {}
#Menu_R4oG9EvP > nav > .nav > li.divider {  margin-bottom:  5px !important;  padding-bottom: 5px !important;}#Menu_R4oG9EvP > nav > .nav > li > a,#Menu_R4oG9EvP > nav > .nav > li.dropdown-header {  padding-top: 0px !important;  padding-bottom: 0px !important;}#Menu_R4oG9EvP > nav > .nav > .dropdown:after,#Menu_R4oG9EvP > nav > .nav > .dropdown > .hidden + ul > li:after {  margin-top: 5px;}#Menu_R4oG9EvP > nav > .nav > li:not(:last-child) > ul:not(.dropdown-menu) {  padding-bottom: 0px;}#Menu_R4oG9EvP > nav > .nav > li > .dropdown-menu {  min-width: 250px;}@media (max-width: 768px) {}
#Menu_IWKm59nt > nav > .nav > li.divider {  margin-bottom:  5px !important;  padding-bottom: 5px !important;}#Menu_IWKm59nt > nav > .nav > li > a,#Menu_IWKm59nt > nav > .nav > li.dropdown-header {  padding-top: 0px !important;  padding-bottom: 0px !important;}#Menu_IWKm59nt > nav > .nav > .dropdown:after,#Menu_IWKm59nt > nav > .nav > .dropdown > .hidden + ul > li:after {  margin-top: 5px;}#Menu_IWKm59nt > nav > .nav > li:not(:last-child) > ul:not(.dropdown-menu) {  padding-bottom: 0px;}#Menu_IWKm59nt > nav > .nav > li > .dropdown-menu {  min-width: 250px;}@media (max-width: 768px) {}
#Menu_TADtYIT5 > nav > .nav > li.divider {  margin-bottom:  5px !important;  padding-bottom: 5px !important;}#Menu_TADtYIT5 > nav > .nav > li > a,#Menu_TADtYIT5 > nav > .nav > li.dropdown-header {  padding-top: 0px !important;  padding-bottom: 0px !important;}#Menu_TADtYIT5 > nav > .nav > .dropdown:after,#Menu_TADtYIT5 > nav > .nav > .dropdown > .hidden + ul > li:after {  margin-top: 5px;}#Menu_TADtYIT5 > nav > .nav > li:not(:last-child) > ul:not(.dropdown-menu) {  padding-bottom: 0px;}#Menu_TADtYIT5 > nav > .nav > li > .dropdown-menu {  min-width: 250px;}@media (max-width: 768px) {}
#IconList_CQ2jN8Nr .tb_icon_list.tb_list_view li:not(:last-child) > * {  padding-bottom: 10px;}
.row_jjj6j {
    background: #6ec1b6;
border-radius: 8px 8px 8px 8px !important;

}
#Menu_EgSn9p0u {
  border-radius: 5px 0px 0px 5px !important;

}
.col_KjQ7F {
    background: #e55d61;
}
.col_N1TWn {
    background: #e55d61;
}
#HeaderCartMenuSystem_HJ4nU3fO {
  border-radius: 0px 5px 5px 0px !important;

}
#intro {
    background: url("http://localhost/shopxinh/image/catalog/sample_data/border/wave_top_white_1.png") repeat-x bottom;
  background-size: auto;  background-attachment: scroll;
}
#intro > .row {
    background-size:;  background-attachment:;
}
#content {
    background: #ffffff;
}
#ProductOptionsSystem_W9CK8DYj {
    background: #f3f3f3;
border-radius: 6px 6px 6px 6px !important;

}
.row_kuWKy {
  border-top: 1px solid rgba(0,0,0, 0.15);
}
.row_YsA98 {
  border-top: 1px solid #dddddd;
}
#footer {
    background: url("http://localhost/shopxinh/image/catalog/sample_data/border/wave_bottom_white_1.png") repeat-x top;
  background: url("http://localhost/shopxinh/image/catalog/sample_data/border/wave_bottom_white_1.png") repeat-x top, url("http://localhost/shopxinh/image/catalog/sample_data/patterns/footer_flowers_1.png") repeat-x bottom left ; 
  background-size: auto, auto;  background-attachment: scroll, scroll;
}
#footer > .row {
    background-size:;  background-attachment:;
}


@media (min-width: 769px) {
  .main {
    max-width: calc(100% - 30px) !important;
  }
    }
@media (min-width: 1041px) {
  .main {
    max-width: calc(100% - 40px) !important;
  }
    }


